[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "missSOM"]
	path = missSOM
	url = https://github.com/cran/missSOM
	shallow = true
	registered = true
